APP_DOMAIN=http://localhost:4200

POSTGRES_PORT=5432
POSTGRES_HOST=notenic-postgres
POSTGRES_USERNAME=root
POSTGRES_PASSWORD=root
POSTGRES_DATABASE=notenic

JWT_SECRET_KEY=WhCZ3Y7GdD3rADGDnLKYeGdAlzVnwSbFDgKey3rFL8B5EatDOXW7w1YjqOahczL
JWT_EXPIRE_TIME=1800

MAILER_HOST=smtp.gmail.com
MAILER_PORT=465
MAILER_USERNAME=notenicapp@gmail.com
MAILER_PASSWORD=
MAILER_FROM='"Notenic" <modules@nestjs.com>'
